.card {
    padding: 30px;
    width: 40px;
    color: white;
    opacity: 0.7;
    box-shadow: 0 10px 6px -6px #777;
    /* позиционируем текст посередине */
    display: flex;
    flex-direction: column;
    align-items: center;
    /* наведение */
    cursor: pointer;
    position: relative;
    -moz-user-select: none;
    -khtml-user-select: none;
    user-select: none;
}


/* кружочек */

.card:after {
    position: absolute;
    content: '';
    opacity: 0;
    transition: all 0.4s ease;
    background: rgb(252, 239, 99);
    top: -30px;
    left: inherit;
    padding: 10px;
    border-radius: 50%;
    transform: translateY(20px);
}

.card:hover::after {
    opacity: 1;
    transform: translateY(-2px);
}

@keyframes shake {
    0% {
        transform: rotate(2deg);
    }
    50% {
        transform: rotate(-3deg);
    }
    70% {
        transform: rotate(3deg);
    }
    100% {
        transform: rotate(0deg);
    }
}

#animated-card:hover {
    animation: shake .7s ease-in-out forwards;
}

@media (max-width: 990px) {
    .card {
        padding: 20px;
        width: 30px;
    }
}

@media (max-width: 770px) {
    .card {
        padding: 10px;
    }
}