.fib-numbers {
    display: flex;
    width: 50%;
    justify-content: center;
}

.fib-numbers-container {
    width: 400px;
    display: flex;
    justify-content: space-between;
}

@media (max-width: 990px) {
    .fib-numbers-container {
        width: 300px;
    }
}

@media (max-width: 770px) {
    .fib-numbers {
        width: 100%;
    }
    .fib-numbers-container {
        width: 200px;
    }
}