button {
    border: none;
    outline: none;
    cursor: pointer;
    background: none;
}

.border {
    display: inline-block;
    position: relative;
    width: 120px;
    height: 90px;
    background: rgb(54, 54, 54);
    box-sizing: border-box;
    transform: scale(0.5);
    clip-path: polygon(0% 27%, 50% 27%, 50% 0%, 100% 50%, 50% 100%, 50% 73%, 0% 73%);
}

.arrow {
    position: absolute;
    background-color: #e4e4e4;
    top: 2px;
    width: 115px;
    height: 86px;
}

.border.left,
.arrow.left {
    clip-path: polygon(50% 0%, 50% 25%, 100% 25%, 100% 75%, 50% 75%, 50% 100%, 0% 50%);
    -webkit-clip-path: polygon(50% 0%, 50% 25%, 100% 25%, 100% 75%, 50% 75%, 50% 100%, 0% 50%);
    left: 2px;
}

.border.right,
.arrow.right {
    clip-path: polygon(0% 27%, 50% 27%, 50% 0%, 100% 50%, 50% 100%, 50% 73%, 0% 73%);
    -webkit-clip-path: polygon(0% 27%, 50% 27%, 50% 0%, 100% 50%, 50% 100%, 50% 73%, 0% 73%);
    left: 3px;
}

@media (max-width: 990px) {
    .border {
        transform: scale(0.4);
    }
    .border.left,
    .arrow.left {
        left: -14px;
    }
    .border.right,
    .arrow.right {
        left: -11px;
    }
}

@media (max-width: 770px) {
    .border {
        transform: scale(0.2);
    }
}